// Background colors
$body-bg-color: rgb(25, 34, 49);
$header-bg-color: rgb(19, 28, 41);
$task-bg-color: rgb(46, 59, 80);
$task-category-bg-color: rgb(35, 44, 61);
$new-button-bg-color: rgb(16, 161, 113);
$new-button-hover-bg-color: rgb(22, 189, 133);
$delete-button-bg-color: rgb(134, 40, 40);
$delete-button-hover-bg-color: rgb(150, 55, 55);
$header-hover-bg-color: rgb(30, 40, 59);
$task-time-bg-color: rgb(93, 112, 139);
$container-bg-color: rgba(0, 0, 0, 0.2);
$container-alt-bg-color: rgba(255, 255, 255, 0.03);

// Font colors
$primary-color: #DDD;
$secondary-color: #CBCBCB;
$header-hover-color: rgb(30, 40, 59);
$task-title-color: #CBCBCB;
$logo-color: rgba(225, 235, 235, 0.85);
